<!DOCTYPE html>
<html lang="es" dir="ltr" ng-app="calender">
  <head>
    <meta charset="utf-8">
    <title>{{"Calender" | uppercase}}</title>
    <link rel="stylesheet" href="public/css/index.css">
  </head>
  <body>

  <script type="text/javascript" src="public/js/lib/angularjs/angular.min.js"></script>
  <script type="text/javascript" src="public/js/main.js"></script>

    <div class="calender__container">

      <!-- title of calender -->
        <div class="calender__container__title">
            <h1 class="container__title">{{"September " | lowercase}}<span class="title__year">{{2019}}</span></h1>
        </div>
<!-- name of day calender -->
        <section class="calender" >
            <article class="calender__days" ng-controller="day as d">
                <span class="calender__days__days" ng-repeat="dayss in days track by $index">{{dayss | uppercase}}</span>
                 
            </article>

<!-- number of cal -->
            <article class="calender__number" ng-controller="numberDay as numberD">
                <span class="calender__days__number" ng-repeat="num in numberDays track by $index">{{num|number}}</span>
               
            </article>

        </section>

    </div>









  </body>
</html>
